# Object files
*.o
*.ko
*.obj
*.elf

*.?ar
*.class

# Tiny Cobol
*.s
*.i
*.lis

# z390 Cobol
*.ERR
*.390
*.BAL
*.LOG
*.LST
*.MLC
*.OBJ
*.PRN
*_ZC_LABELS.CPY
*.OPT
works/

# temporary
tmp*/
*.tmp

# IDE results
.*.swp
*.komodoproject
*.sublime-*

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
log
*.log

# fonts
gitio/fonts/theleagueof-league-gothic/images/
gitio/fonts/theleagueof-league-gothic/source/


